{% extends 'base.html.twig' %}

{% block title %}Modifier Admins{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Modifier Admins</h1>
    <div class="container w-75">

    {{ include('admin/user/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-primary my-4" href="{{ path('user_index') }}">Retour à la liste</a>

    {{ include('admin/user/_delete_form.html.twig') }}
    </div>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("css/contact.css") }}">
    {% endblock %}

{% endblock %}
