{% extends 'base.html.twig' %}

{% block title %}Créer nouveau type de message{% endblock %}

{% block body %}
    <h1>Créer nouveau type de message</h1>

    {{ include('type_message/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('type_message_index') }}">Retour à la liste</a>
{% endblock %}
