{% extends 'base.html.twig' %}

{% block title %}Créer nouveau type de message{% endblock %}

{% block body %}
    <div class="container w-75">
    <h1 class="text-center">Créer nouveau type de message</h1>

    {{ include('type_message/_form.html.twig') }}

    <a class="btn btn-primary mt-3" href="{{ path('type_message_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
