{% extends 'base.html.twig' %}

{% block title %}AccordCgu{% endblock %}

{% block body %}
<div class="container w-75 ">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ex laboriosam minus nesciunt perspiciatis possimus
        provident veniam voluptatibus? Accusantium culpa doloremque fuga fugiat illo ipsam itaque iure pariatur vel
        voluptatibus.
    </div>
    <div>Beatae dolorum odit quos reprehenderit voluptatum! Eligendi eum excepturi, labore magni, provident quibusdam
        quidem recusandae, reiciendis reprehenderit sequi velit vitae. Cum error in minus nesciunt nisi, porro quidem
        totam unde.
    </div>
    <div>Est excepturi incidunt sapiente similique. Amet architecto assumenda beatae commodi, culpa debitis esse, est
        facere harum hic illum ipsum libero modi mollitia nesciunt quasi quia quis sequi tenetur, ut. In.
    </div>
    <div class="div mt-5 mb-5 text-right">
        <a  href="{{path("home")}}">Retour à l'accueil</a>
    </div>

</div>
{% endblock %}
