{% extends 'base.html.twig' %}

{% block title %}Edition des types de destinataires{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Edition des types de destinataires</h1>
    <div class="container w-75">

    {{ include('admin/type_destinataire/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-primary my-3" href="{{ path('type_destinataire_index') }}">Retour à la liste</a>

    {{ include('admin/type_destinataire/_delete_form.html.twig') }}
    </div>
{% endblock %}
