{% extends 'base.html.twig' %}

{% block title %}Types de destinataires{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Types de destinataires</h1>
    <div class="container w-75">

    <table class="table-responsive">
        <tbody>

            <tr>
                <th>DestinataireType</th>
                <td>{{ type_destinataire.destinataireType }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary mb-3" href="{{ path('type_destinataire_index') }}">Retour à la liste</a>

    <a class="btn btn-warning mb-3" href="{{ path('type_destinataire_edit', {'id': type_destinataire.id}) }}">Editer</a>

    {{ include('admin/type_destinataire/_delete_form.html.twig') }}
    </div>
{% endblock %}
