{% extends 'base.html.twig' %}

{% block title %}Types d'interventions {% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Types d'nterventions </h1>
    <div class="container w-75">

    <table class="table">
        <thead>
            <tr>

                <th>Type d'ntervention</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_intervention in type_interventions %}
            <tr>

                <td>{{ type_intervention.interventionType }}</td>
                <td>
                   {# <a class="btn btn-info" href="{{ path('type_intervention_show', {'id': type_intervention.id}) }}">Voir</a>#}
                    <a class="btn btn-warning" href="{{ path('type_intervention_edit', {'id': type_intervention.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('type_intervention_new') }}">Créer nouveau type d'intervention</a>
    </div>
{% endblock %}
