{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau type d'ntervention{% endblock %}

{% block body %}
    <div class="container w-75">
    <h1 class="text-center">Créer un nouveau type d'ntervention</h1>

    {{ include('type_intervention/_form.html.twig') }}

    <a class="btn btn-primary mt-3" href="{{ path('type_intervention_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
