{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau motif{% endblock %}

{% block body %}
    <h1>Créer un nouveau motif</h1>

    {{ include('motif/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('motif_index') }}">Retour à la liste</a>
{% endblock %}
