{% extends 'base.html.twig' %}

{% block title %}Modifier les types de service{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Modifier les types de service</h1>
    <div class="container w-75">

    {{ include('type_service/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-primary my-3" href="{{ path('type_service_index') }}">Retour à la liste</a>

    {{ include('type_service/_delete_form.html.twig') }}
    </div>
{% endblock %}
