{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau type de service{% endblock %}

{% block body %}
    <div class="container w-75">
    <h1 class="text-center">Créer un nouveau type de service</h1>

    {{ include('type_service/_form.html.twig') }}

    <a class="btn btn-primary mt-3" href="{{ path('type_service_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
