{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau type de service{% endblock %}

{% block body %}
    <h1>Créer un nouveau type de service</h1>

    {{ include('type_service/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('type_service_index') }}">Retour à la liste</a>
{% endblock %}
