{% extends 'base.html.twig' %}

{% block title %}Edition des types de destinataires{% endblock %}

{% block body %}
    <h1>Edition des types de destinataires</h1>

    {{ include('type_destinataire/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-primary" href="{{ path('type_destinataire_index') }}">Retour à la liste</a>

    {{ include('type_destinataire/_delete_form.html.twig') }}
{% endblock %}
