{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau type de destinataire{% endblock %}

{% block body %}
    <h1>Créer un nouveau type de destinataire</h1>

    {{ include('type_destinataire/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('type_destinataire_index') }}">Retour à la liste</a>
{% endblock %}
