{% extends 'base.html.twig' %}

{% block title %}Céer une nouvelle validation{% endblock %}

{% block body %}
    <h1>Créer une nouvelle validation</h1>

    {{ include('admin/validation/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('validation_index') }}">Retour à la liste</a>
{% endblock %}
