{{ form_start(form) }}
    {{ form_widget(form,{'attr': {'id': 'form'}}) }}
    <button class="btn btn-success"  id="btnInscription">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
