{% extends 'base.html.twig' %}

{% block title %}Modifier Admins{% endblock %}

{% block body %}
    <h1>Modifier Admins</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-primary href="{{ path('user_index') }}">Retour à la liste</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
